@import url('https://fonts.googleapis.com/css?family=Raleway');

body,html{
    text-align:center;
    font-family:'Raleway';
    color:white;
    font-size:100px;
    height:100%;
    overflow:hidden;
	background: linear-gradient(-90deg, #000000, #777777);
	background-size: 400% 400%;
	animation: gradient 10s cubic-bezier(1, 0.05, 0.11, 1) infinite;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.main {
    height: 1000px;
    width: 400px;

    position: fixed;
    top: 10%;
    left: 10%;
    margin-top: -100px;
    margin-left: -200px;

    background-color: rgba(0,0,0,0.8);
    border-radius: 10px;
    padding: 10px;
}

.links {
    height: 200px;
    font-size:25px;
    width:400px;
    position:fixed;
    top: 10%;
    left: 10%;
    margin-top: 5px;
    margin-left: -330px;

}

.links2 {
    height: 200px;
    font-size:25px;
    width:400px;
    position:fixed;
    top:10%;
    left:10%;
    margin-top: 30px;
    margin-left: -200px;
}

.links3 {
    height: 200px;
    font-size:25px;
    width:400px;
    position:fixed;
    top:20%;
    left:10%;
    margin-top: 35px;
    margin-left: -200px;

}

.links4 {
    height: 200px;
    font-size:25px;
    width:400px;
    position:fixed;
    top:30%;
    left:10%;
    margin-top: 35px;
    margin-left: -200px;

}


a{
    text-decoration: none;
    color:white;
}

ul{
    height: 200px;
    font-size:25px;
    width:400px;
    position:fixed;
    top:20%;
    left:10%;
    margin-top: 5px;
    margin-left: -250px;
    padding-left:50px;
}

a:hover{
    color:rgb(162 162 162);
}
